#bg{
	background-image: url('../img/IMG_3373-2.jpg') ; 
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;	
    color: white;
    height: 100vh;	
}

nav {
	padding-top: 3%;
	padding-bottom: 3%;	
	background-color: transparent;
}
nav a, nav a:hover {
	color: white;
	font-size: 1.4em;
}
nav a.active {
	text-decoration: underline;
}
.jumbotron{
	padding-top: 15%;
	background-color: transparent;
}

#portfolio-bg .jumbotron{
	padding-top: 10%;
	padding-bottom: 10%;
	background-color: transparent;
    
}
h1#name{
	font-size: 8em;
}

#bio{
	height: 100vh;
	color: black;
}
.bio{
	background-color: #ffacac;
}
.description{
	background-color:#953d62;
	padding-top: 8%;
	font-size:1.2em;
	color: white;
	height: 70vh;
}
#portfolio-bg{
	background-image: url('../img/campana-flowers.jpg');
	background-size: cover;
	color: white;
	height: 100vh;
}
#portfolio-bg nav a{
	color: white;
}

.honeyWords, .starwood, .yaiza, .aloft, .miamiBlogs, .careerscore, .boxandfire, .dior{
	height: 200px;
}
.honeyWords a, .starwood a, .yaiza a, .aloft a, .miamiBlogs a, .careerscore a, .boxandfire a, .dior a{
	height: 200px;
	width: 100%;
	display: block;
}

.honeyWords:hover{
	background-image: url('../img/website.png');
	background-size: cover;	
}
.honeyWords{
	background-image: url('../img/BWwebsite.png');
	background-size: cover;	
}
.starwood:hover{
	background-image: url('../img/starwood.png');
	background-size: cover;	
}
.starwood{
	background-image: url('../img/BWstarwood.png');
	background-size: cover;	
}
.yaiza:hover{
	background-image: url('../img/yaiza.png');
	background-size: contain;	
}
.yaiza{
	background-image: url('../img/BWyaiza.png');
	background-size: contain;	
}
.aloft:hover{
	background-image: url('../img/aloft.png');
	background-size: cover;	
}
.aloft{
	background-image: url('../img/BWaloft.png');
	background-size: cover;	
}
.careerscore:hover{
	background-image: url('../img/careerscore.png');
	background-size: cover;	

}

.careerscore{
	background-image: url('../img/BWcareerscore.png');
	background-size: cover;	

}
.miamiBlogs:hover{
	background-image: url('../img/miamiblogs.png');
	background-size: cover;	
}
.miamiBlogs{
	background-image: url('../img/BWmiamiblogs.png');
	background-size: cover;	
}

.boxandfire{
	background-image: url('../img/box&firelogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.dior:hover{
	background-image: url('../img/sampleDior.png');
	background-size: cover;	

}
.dior{
	background-image: url('../img/BWsampleDior.png');
	background-size: cover;	

}
.natlogo img{
	padding-top: 16%;
	height: 180px;
}

.screenshots {
	width: 400px;
}

#project nav a{
	color: black

}
.honeywords{
	height: 60vh;
	background-color: #fbc21b;
}
.miamiblogs{
	height: 60vh;
	background-color: #aae5f6;	
}
.Boxandfire{
	height: 60vh;
	background-color: #f2d1f0;	
}
.Aloft{
	height: 60vh;
	background-color: #ffc9da;		
}
.Starwood{
	height: 60vh;
	background-color: #e094ff;		
}

.Yaiza{
	height: 60vh;
	background-color: #eacec6;		
}
.Careerscore{
	height: 60vh;
	background-color: #c3f0ed;		
}

.Dior{
	height: 60vh;
	background-color: #f8eff6;		
}
.honeywords .jumbotron, 
.miamiblogs .jumbotron, 
.Boxandfire .jumbotron, 
.Aloft .jumbotron, 
.Starwood .jumbotron, 
.Yaiza .jumbotron , 
.Careerscore .jumbotron,
.Dior .jumbotron{
	padding-top: 4%;
}

.honeywords h1#name, .miamiblogs h1#name,
.Boxandfire h1#name, .Starwood h1#name,
.Yaiza h1#name, .Careerscore h1#name,
.Dior h1#name, .Aloft h1#name {
	color: black;
}

.thumbnail img{
	width: 100%;
	min-height: 408px ;
}

@media only screen 
  and (max-device-width: 414px) 
  and (orientation: portrait) { 
  	#bg{
  		height:40vh;
  	}
  	nav a{
  		font-size: 3.4em;
  	}

  	h1#name{
  		font-size: 10em;
  	}
}
@media only screen 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
  	nav a{
  		font-size: 2em;
  	}  	

}
@media only screen 
  and (min-device-width: 1102px) { 
  	.honeyWords, .starwood, .yaiza, .aloft, .miamiBlogs, .careerscore, .boxandfire, .dior{
  		height: 260px;
  	}

}